extends layout

block content
  div.container
  h1= title

  div.container
    h2 Live temperature
    p#idCurrentTemp
  
  div.container
    form
      div.form-group
        label(for="inputSetTemperature").
          Set temperature value
        input#inputSetTemperature(class="form-control" placeholder="Enter temperature")
        button#btnSetTemp(class="btn btn-primary" type="button").
          Submit temperature
        label#labelSetTemperatureResponse

  script(src="/javascripts/main.js")